In [112]:
import pandas as pd

df1 = pd.DataFrame(
  {
    'Key': ['K0', 'K1', 'K2', 'K3'],
    'A'  : ['A0', 'A1', 'A2', 'A3'],
    'B'  : ['B0', 'B1', 'B2', 'B3']
  }, index=range(4)
)

df2 = pd.DataFrame(
  {
    'Key': ['K1', 'K2', 'K3', 'K4'],
    'C'  : ['C1', 'C2', 'C3', 'C4'],
    'D'  : ['D1', 'D2', 'D3', 'D4']
  }, index=range(1,5)
)

In [113]:
from IPython.display import display_html

def display_side_by_side(dataframes:list, titles:list):
  html_str=''
  for df, title in zip(dataframes, titles):
    html_str+=f'<span>{title}:</span>'
    html_str+=df.to_html().replace('table', 'table style="display:inline"')
    html_str+='&nbsp'*10
  display_html(html_str,raw=True)

In [114]:
display_side_by_side([df1, df2], ['df1', 'df2'])

,Key,A,B
0,K0,A0,B0
1,K1,A1,B1
2,K2,A2,B2
3,K3,A3,B3
,Key,C,D
1,K1,C1,D1
2,K2,C2,D2
3,K3,C3,D3
4,K4,C4,D4

In [115]:
df_inner = df1.merge(df2, on='Key', how='inner')
df_left  = df1.merge(df2, on='Key', how='left' )
df_right = df1.merge(df2, on='Key', how='right')

all_dfs    = [ df1,   df2,   df_inner,   df_left,   df_right ]
# all_titles = ['df1', 'df2', 'df_inner', 'df_left', 'df_right']

import itertools

# Convert a list of variables to the corresponding names as strings 
def get_variable_name(var_value, namespace):
    return [name for name, value in namespace.items() if value is var_value]

all_titles = list(itertools.chain(*[get_variable_name(item, globals()) for item in all_dfs]))

print(all_titles)

display_side_by_side(all_dfs, all_titles)

['df1', 'df2', 'df_inner', 'df_left', 'df_right']

In [123]:
from ipywidgets import interact

@interact(method=['inner', 'left', 'right', 'outer'])
def merge(method):
  df_merge   = df1.merge(df2, how=method)
  all_dfs    = [ df1,   df2,      df_merge    ]
  all_titles = ['df1', 'df2', f'{method}_join']
  display_side_by_side(all_dfs, all_titles)
  
#merge(df1, df2, method='right')

interactive(children=(Dropdown(description='method', options=('inner', 'left', 'right', 'outer'), value='inner…