In [4]:
import pandas as pd

df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3]
)


df2 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
        "C": ["C4", "C5", "C6", "C7"],
        "D": ["D4", "D5", "D6", "D7"],
    },
    index=[4, 5, 6, 8]
)

glub_glub = pd.DataFrame(
  {
        "A": ["A0", "A1", "A2", "A3"],
        "E": ["Lockwoody", "Jasper", "=2+2", "Pingulinosa"], # A string '=2+2' é lida como uma função no Excel
        "F": ["Team DIGNITAS", "Jockey", "Shojin", "Rubellus Klan"],
        "G": ["Chuca de Manhã", "Pincher", "Jucaju", "Sorus"],
        "H": ["Dig-Dig-Dênis", "Lig", "Bonbocayne", "Bylkers"]
  },
  index=[7, 9, 10, 11]
)

glub_glub.merge(df1, how='left')

    A            E              F               G              H   B   C   D
0  A0    Lockwoody  Team DIGNITAS  Chuca de Manhã  Dig-Dig-Dênis  B0  C0  D0
1  A1       Jasper         Jockey         Pincher            Lig  B1  C1  D1
2  A2         =2+2         Shojin          Jucaju     Bonbocayne  B2  C2  D2
3  A3  Pingulinosa  Rubellus Klan           Sorus        Bylkers  B3  C3  D3

In [3]:
df_merge = glub_glub.merge(df1, how='left')
df_merge.to_excel('try_excel.xlsx', index=False)